* {
  margin: 0;
  font-weight: bold;
}

:root {
  --calculator-width: 200px;
  --calculator-height: 300px;
}

div#container {
  background-image: url('https://i.imgur.com/mSPU63U.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

div#calculator {
  height: var(--calculator-height);
  width: var(--calculator-width);
  background-color: gray;
  border-radius: 5px;

  position: relative;
  left: calc(50% - (0.5*var(--calculator-width)));
  top: calc(50% - (0.5*var(--calculator-height)));

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

div#screen {
  margin-top: 10px;
  margin-bottom: 10px;
  width: var(--calculator-width);
  height: calc(var(--calculator-height) / 3);
  background-color: white;
  text-indent: 10px;
  padding-top: 5px;
}

button {
  width: calc((var(--calculator-width) / 4) - 3px);
  height: calc((2/3) * var(--calculator-height) / 4 - 10px);
  background-color: gray;
  border: none;

  color: white;
}

button:hover {
  background-color: darkgray;
}